# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# Env / secrets
.env
*.pem

# OS
.DS_Store
github-trust-policy.json
